#customeraddress {
  display: none;
}

#ordersummary {
  display: none;
}

#customer-delivery {
  display: none;
}

#customer-pickup {
  display: none;
}

.jumbotron h1 {
  text-align: center;
  color: white;
  text-shadow: black 0.6em 0.6em 0.6em;
  background-position: 0% 25%;
  background-size: cover;
  
}

.jumbotron {
  background-image: url(../images/pizza.jpg);
}
